@model WebForum.Models.Forum

<h1>Post Index</h1>



<table>      
      
        {
        
        <tbody class="content" id="category_2_boards">
            <tr id="board_6" class="windowbg2">
                <td>    
                                               
                </td>
                <td>
                    <p>UserName</p>
                </td>
                 <td>
                    <p>Created</p>    
                </td>
                
            </tr>
        
        </tbody>
        }
</table>